:root {
    --small-font: 10px;
    --medium-font: 18px;
    --button-hover: inset 0px 0px 10px rgba(28, 241, 135, 0.5);
    --indicator-gradient: linear-gradient(45deg, #85FF4A 0%, #17D82B 47%, #08A532 100%);
    --indicator-shadow: 2px 1px 31px 5px rgba(2,194,81,1);
    --step-text-shadow: 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 2px 2px 2px rgba(206,89,55,0);
    --step-button-background: linear-gradient(157deg, #f8a280 -5%, #be0202 81%);
    --counter-text-shadow: #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    -16px -19px 2px rgba(206, 89, 55, 0);
}
